## dplyr
+ select : 열 선택
+ filter : 조건 검색
+ group_by : 데이터 그룹화
+ mutate : 행/열 추가
+ summarise : 데이터 집계
+ arrange : 데이터 정렬

In [53]:
library(ggplot2)
library(dplyr)

# mpg

In [54]:
mpg %>% mutate(allmpg = cty + hwy,
               avgmpg = allmpg/2) %>%
        select(model, manufacturer, allmpg, avgmpg)%>%
        head()

  model manufacturer allmpg avgmpg
1 a4    audi         47     23.5
2 a4    audi         50     25.0
3 a4    audi         51     25.5
4 a4    audi         51     25.5
5 a4    audi         42     21.0
6 a4    audi         44     22.0

## arrange(데이터 정렬)

In [55]:
load('sungjuk.rdata')

sungjuk

  name eng mat sci
1 John 90  85  90
2 Tom  95  96  80
3 Mark 69  49  70
4 Jane 78  95  60

In [56]:
# 이름순으로 오름차순
sungjuk %>% arrange(name)

  name eng mat sci
1 Jane 78  95  60
2 John 90  85  90
3 Mark 69  49  70
4 Tom  95  96  80

In [57]:
# 이름순으로 내림차순
sungjuk %>% arrange(desc(name))

  name eng mat sci
1 Tom  95  96  80
2 Mark 69  49  70
3 John 90  85  90
4 Jane 78  95  60

In [58]:
# 영/수/과 점수를 내림차순
sungjuk %>% arrange(eng, mat, sci)

  name eng mat sci
1 Mark 69  49  70
2 Jane 78  95  60
3 John 90  85  90
4 Tom  95  96  80

## summarise (데이터 집계)

In [59]:
# 평균 영어 점수 출력
sungjuk %>% summarise(평균영어점수 = mean(eng))

  평균영어점수
1 83

In [60]:
# 각 과목별로 평균/최고/최소 점수 출력 
sungjuk %>% summarise(평균영어점수 = mean(eng),
                      최고영어점수 = max(eng),
                      최소영어점수 = min(eng),
                      평균수학점수 = mean(mat),
                      최고수학점수 = max(mat),
                      최소수학점수 = min(mat),
                      평균과학점수 = mean(sci),
                      최고과학점수 = max(sci),
                      최소과학점수 = min(sci),)

  평균영어점수 최고영어점수 최소영어점수 평균수학점수 최고수학점수 최소수학점수
1 83           95           69           81.25        96           49
  평균과학점수 최고과학점수 최소과학점수
1 75           90           60

## group_by (데이터 그룹화)

In [61]:
# 새 컬럼 추가 
sungjuk$class <- c(2,1,2,3)

In [62]:
# 클래스별 평균 영어점수 출력
sungjuk %>% group_by(class) %>%
            summarise(평균영어 = mean(eng))

  class 평균영어
1 1     95.0
2 2     79.5
3 3     78.0

In [63]:
# 클래스별 최고/최소 영어점수 출력
sungjuk %>% group_by(class) %>%
            summarise(최고영어 = max(eng), 최소영어=min(eng))

  class 최고영어 최소영어
1 1     95       95
2 2     90       69
3 3     78       78

In [64]:
# diamonds 데이터셋을 이용, 다음 문제를 풀어보자
library(ggplot2)
head(diamonds)

  carat cut       color clarity depth table price x    y    z
1 0.23  Ideal     E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.21  Premium   E     SI1     59.8  61    326   3.89 3.84 2.31
3 0.23  Good      E     VS1     56.9  65    327   4.05 4.07 2.31
4 0.29  Premium   I     VS2     62.4  58    334   4.20 4.23 2.63
5 0.31  Good      J     SI2     63.3  58    335   4.34 4.35 2.75
6 0.24  Very Good J     VVS2    62.8  57    336   3.94 3.96 2.48

In [65]:
str(diamonds)

tibble [53,940 × 10] (S3: tbl_df/tbl/data.frame)
 $ carat  : num [1:53940] 0.23 0.21 0.23 0.29 0.31 0.24 0.24 0.26 0.22 0.23 ...
 $ cut    : Ord.factor w/ 5 levels "Fair"<"Good"<..: 5 4 2 4 2 3 3 3 1 3 ...
 $ color  : Ord.factor w/ 7 levels "D"<"E"<"F"<"G"<..: 2 2 2 6 7 7 6 5 2 5 ...
 $ clarity: Ord.factor w/ 8 levels "I1"<"SI2"<"SI1"<..: 2 3 5 4 2 6 7 3 4 5 ...
 $ depth  : num [1:53940] 61.5 59.8 56.9 62.4 63.3 62.8 62.3 61.9 65.1 59.4 ...
 $ table  : num [1:53940] 55 61 65 58 58 57 57 55 61 61 ...
 $ price  : int [1:53940] 326 326 327 334 335 336 336 337 337 338 ...
 $ x      : num [1:53940] 3.95 3.89 4.05 4.2 4.34 3.94 3.95 4.07 3.87 4 ...
 $ y      : num [1:53940] 3.98 3.84 4.07 4.23 4.35 3.96 3.98 4.11 3.78 4.05 ...
 $ z      : num [1:53940] 2.43 2.31 2.31 2.63 2.75 2.48 2.47 2.53 2.49 2.39 ...

In [66]:
# carat과 price 변수 출력
# head(diamonds[, c('carat','price')])
# head(diamonds[.c(1,7)])
# diamonds %>% select(carat, price) %>%  head()
# head(select(diamonds, carat, price))
# head(select(diamonds, 1, 7))

In [67]:
# 변수들 중 carat, price 제외, 모두 출력
# head(diamonds[, -c('carat', 'price')] )
 diamonds %>% select(-carat, -price) %>% head()
# diamonds %>% select(-1, -7) %>% head()
# diamonds %>% select(-c(carat, price)) %>% head()
# head(select(diamonds, -carat, -price))
# head(select(diamonds, -c(carat, price)))

  cut       color clarity depth table x    y    z
1 Ideal     E     SI2     61.5  55    3.95 3.98 2.43
2 Premium   E     SI1     59.8  61    3.89 3.84 2.31
3 Good      E     VS1     56.9  65    4.05 4.07 2.31
4 Premium   I     VS2     62.4  58    4.20 4.23 2.63
5 Good      J     SI2     63.3  58    4.34 4.35 2.75
6 Very Good J     VVS2    62.8  57    3.94 3.96 2.48

In [68]:
# 변수명 중 c로 시작하는 것만 출력 : starts_with
# diamonds[, starts_with('c')] # 실행 오류
# head(diamonds %>% select(starts_with('c')))
# head(select(diamonds, starts_with('c')))

In [69]:
# 변수명 중 e로 끝나는 것만 출력 : ends_with
# head(diamonds %>% select(ends_with('e')))

In [70]:
# 변수명중 l을 포함하는 것만 출력 :contains/ matches
head(diamonds %>% select(contains('l')))

  color clarity table
1 E     SI2     55
2 E     SI1     61
3 E     VS1     65
4 I     VS2     58
5 J     SI2     58
6 J     VVS2    57

In [71]:
# 변수명중 r과 t를 포함 
# head(diamonds %>% select(contains('r') & contains('t')))
# diamonds %>% select(contains('r') & contains('t')) %>% head()
# diamonds %>% select(matches('r.t')) %>% head()
diamonds %>% select(matches('r.+t')) %>% head()

  carat clarity
1 0.23  SI2
2 0.21  SI1
3 0.23  VS1
4 0.29  VS2
5 0.31  SI2
6 0.24  VVS2

In [72]:
# cut 변수 값 중 'Ideal'인 데이터 조회
# head(diamonds[diamonds$cut == 'Ideal',])
diamonds %>% filter(cut == 'Ideal') %>% head()
# head(filter(diamonds, cut == 'Ideal'))

  carat cut   color clarity depth table price x    y    z
1 0.23  Ideal E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.23  Ideal J     VS1     62.8  56    340   3.93 3.90 2.46
3 0.31  Ideal J     SI2     62.2  54    344   4.35 4.37 2.71
4 0.30  Ideal I     SI2     62.0  54    348   4.31 4.34 2.68
5 0.33  Ideal I     SI2     61.8  55    403   4.49 4.51 2.78
6 0.33  Ideal I     SI2     61.2  56    403   4.49 4.50 2.75

In [73]:
# price가 1000 이상인 데이터 조회
# head(diamonds[diamonds$price >= 1000, ])
diamonds %>% filter(price >= 1000) %>% head()
# head( filter(diamonds, price >= 1000))

  carat cut       color clarity depth table price x    y    z
1 0.70  Ideal     E     SI1     62.5  57    2757  5.70 5.72 3.57
2 0.86  Fair      E     SI2     55.1  69    2757  6.45 6.33 3.52
3 0.70  Ideal     G     VS2     61.6  56    2757  5.70 5.67 3.50
4 0.71  Very Good E     VS2     62.4  57    2759  5.68 5.73 3.56
5 0.78  Very Good G     SI2     63.8  56    2759  5.81 5.85 3.72
6 0.70  Good      E     VS2     57.5  58    2759  5.85 5.90 3.38

In [74]:
# carat이 2이상, price가 14000이하 데이터 조회
# head(diamonds[diamonds$carat >= 2 & diamonds$price <= 14000,])
diamonds %>% filter(carat >= 2 & price <= 14000) %>% head()
# head(filter(diamonds, carat >= 2 & price <= 14000))

  carat cut     color clarity depth table price x    y    z
1 2.00  Premium J     I1      61.5  59    5051  8.11 8.06 4.97
2 2.06  Premium J     I1      61.2  58    5203  8.10 8.07 4.95
3 2.14  Fair    J     I1      69.4  57    5405  7.74 7.70 5.36
4 2.15  Fair    J     I1      65.5  57    5430  8.01 7.95 5.23
5 2.22  Fair    J     I1      66.7  56    5607  8.04 8.02 5.36
6 2.00  Fair    I     I1      66.0  60    5667  7.78 7.74 5.10

In [75]:
# carat이 1초과 5미안인 데이터 조회
# head(diamonds[diamonds$carat >1 | diamonds$carat < 5, ])
diamonds %>% filter(carat >1 | carat < 5) %>% head()

  carat cut       color clarity depth table price x    y    z
1 0.23  Ideal     E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.21  Premium   E     SI1     59.8  61    326   3.89 3.84 2.31
3 0.23  Good      E     VS1     56.9  65    327   4.05 4.07 2.31
4 0.29  Premium   I     VS2     62.4  58    334   4.20 4.23 2.63
5 0.31  Good      J     SI2     63.3  58    335   4.34 4.35 2.75
6 0.24  Very Good J     VVS2    62.8  57    336   3.94 3.96 2.48

In [76]:
# cut이 'Ideal'이거나 'Good'인 데이터 조회
# head(diamonds[diamonds$cut == 'Ideal' | diamonds$cut == 'Good', ])
# head(diamonds[diamonds$cut %in% c('Ideal','Good'),] )
diamonds %>% filter(cut == 'Ideal' | cut == 'Good') %>% head()
# diamonds %>% filter(cut %in% c('Ideal','Good')) %>% head()

  carat cut   color clarity depth table price x    y    z
1 0.23  Ideal E     SI2     61.5  55    326   3.95 3.98 2.43
2 0.23  Good  E     VS1     56.9  65    327   4.05 4.07 2.31
3 0.31  Good  J     SI2     63.3  58    335   4.34 4.35 2.75
4 0.30  Good  J     SI1     64.0  55    339   4.25 4.28 2.73
5 0.23  Ideal J     VS1     62.8  56    340   3.93 3.90 2.46
6 0.31  Ideal J     SI2     62.2  54    344   4.35 4.37 2.71

In [77]:
# cut, color 기준으로 평균 가격을 avgPrice로, 총 carat을 sumCarat이라는 이름으로 집계

In [78]:
# color 기준으로 평균 가격을 avgPrice로, 총 carat을 sumCarat이라는
# 이름으로 집계하고 평균가격으로 내림차순 정렬

In [79]:
# color 기준으로 평균 가격을 avgPrice로, 총 carat을 sumCarat이라는 이름으로
# 집계하고 평균가격은 내림차순 정렬, 총 carat은 오름차순으로 정렬

In [80]:
# price를 carat으로 나눈것을 Ratio 컬럼으로
# Ratio 컬럼을 제곱한것을 Double이라는 컬럼으로 생성
dia <- diamonds
dia$Ratio <- dia$price / dia$carat
dia$Double <- dia$Ratio ** 2
head(dia[, c('carat','price','Ratio','Double')])

  carat price Ratio    Double
1 0.23  326   1417.391 2008998
2 0.21  326   1552.381 2409887
3 0.23  327   1421.739 2021342
4 0.29  334   1151.724 1326468
5 0.31  335   1080.645 1167794
6 0.24  336   1400.000 1960000

In [81]:
# price를 carat으로 나눈것을 Ratio 컬럼으로
# Ratio 컬럼을 제곱한것을 Double이라는 컬럼으로 생성
# 방법 2
dia <- diamonds
dia %>% mutate(Ratio = price / carat, 
               Double = Ratio ** 2) %>%
        select(carat, price, Ratio, Double) %>%
        head()

  carat price Ratio    Double
1 0.23  326   1417.391 2008998
2 0.21  326   1552.381 2409887
3 0.23  327   1421.739 2021342
4 0.29  334   1151.724 1326468
5 0.31  335   1080.645 1167794
6 0.24  336   1400.000 1960000

In [82]:
# 평균 가격 price와 price의 중앙값, 평균 carat를 집계
c1 <- mean(diamonds$price)
c2 <- median(diamonds$price)
c3 <- mean(diamonds$carat)

In [83]:
# 여러 컬럼을 하나로 묶음 : cbind, data.frame
df <- data.frame(c1, c2, c3)
colnames(df) <- c('avgPrice', 'medPrice','avgCarat')
df

  avgPrice medPrice avgCarat
1 3932.8   2401     0.7979397

In [84]:
diamonds %>% summarise(avgPrice = mean(price),
                       medPrice = median(price),
                       avgCarat = mean(carat))

  avgPrice medPrice avgCarat
1 3932.8   2401     0.7979397

## 집계처리 : aggregate
+ aggregate(집계대상컬럼, by = 그룹대상컬럼, 집계함수)
+ aggregate(인자식, 데이터, 집계함수)
+ 집게시 사용하는 인자식 예 : a ~ b + c
    - a : 집계하고자 하는 대상 
    - b : 그룹으로 묶을 기준1
    - c : 그룹으로 묶을 기준2

In [85]:
# cut 기준으로 편균 price 집계
# aggregate(diamonds$price, by=list(diamonds$cut), FUN=mean)
aggregate(price ~ cut, diamonds, FUN=mean)
# diamonds %>% group_by(cut) %>% summarise(avgPrice = mean(price))

  cut       price
1 Fair      4358.758
2 Good      3928.864
3 Very Good 3981.760
4 Premium   4584.258
5 Ideal     3457.542

In [86]:
# cut, color 기준으로 평균 가격을 avgPrice로, 총 carat을 sumCarat이란 이름으로 집계 
aggregate(price ~ cut + color, diamonds, FUN=mean)
# aggregate(carat ~ cut + color, diamonds, FUN=sum)

   cut       color price
1  Fair      D     4291.061
2  Good      D     3405.382
3  Very Good D     3470.467
4  Premium   D     3631.293
5  Ideal     D     2629.095
6  Fair      E     3682.312
7  Good      E     3423.644
8  Very Good E     3214.652
9  Premium   E     3538.914
10 Ideal     E     2597.550
11 Fair      F     3827.003
12 Good      F     3495.750
13 Very Good F     3778.820
14 Premium   F     4324.890
15 Ideal     F     3374.939
16 Fair      G     4239.255
17 Good      G     4123.482
18 Very Good G     3872.754
19 Premium   G     4500.742
20 Ideal     G     3720.706
21 Fair      H     5135.683
22 Good      H     4276.255
23 Very Good H     4535.390
24 Premium   H     5216.707
25 Ideal     H     3889.335
26 Fair      I     4685.446
27 Good      I     5078.533
28 Very Good I     5255.880
29 Premium   I     5946.181
30 Ideal     I     4451.970
31 Fair      J     4975.655
32 Good      J     4574.173
33 Very Good J     5103.513
34 Premium   J     6294.592
35 Ideal     J     4918.186

In [87]:
# aggregate함수에 집계함수를 2개 이상 쓸려면
# plyr 패키지의 each 함수를 사용해야 한다.
# 단, 하나의 집계대상 컬럼에만 적용가능
#install.packages('plyr')
# library(plyr)
# aggregate(carat ~ cut + color, diamonds, each(mean, sum))

In [88]:
diamonds %>% group_by(cut, color) %>% summarise(avgPrice = mean(price), sumCarat=sum(carat))

`summarise()` has grouped output by 'cut'. You can override using the `.groups` argument.

   cut       color avgPrice sumCarat
1  Fair      D     4291.061  149.98
2  Fair      E     3682.312  191.88
3  Fair      F     3827.003  282.27
4  Fair      G     4239.255  321.48
5  Fair      H     5135.683  369.41
6  Fair      I     4685.446  209.66
7  Fair      J     4975.655  159.60
8  Good      D     3405.382  492.87
9  Good      E     3423.644  695.21
10 Good      F     3495.750  705.32
11 Good      G     4123.482  741.13
12 Good      H     4276.255  642.14
13 Good      I     5078.533  551.87
14 Good      J     4574.173  337.56
15 Very Good D     3470.467 1053.69
16 Very Good E     3214.652 1623.16
17 Very Good F     3778.820 1603.44
18 Very Good G     3872.754 1762.87
19 Very Good H     4535.390 1670.69
20 Very Good I     5255.880 1260.53
21 Very Good J     5103.513  768.32
22 Premium   D     3631.293 1156.64
23 Premium   E     3538.914 1677.37
24 Premium   F     4324.890 1927.82
25 Premium   G     4500.742 2460.51
26 Premium   H     5216.707 2398.82
27 Premium   I     5946.181 1634.97
28 Premium   J     6294.592 1044.82
29 Ideal     D     2629.095 1603.38
30 Ideal     E     2597.550 2257.50
31 Ideal     F     3374.939 2509.20
32 Ideal     G     3720.706 3422.29
33 Ideal     H     3889.335 2490.52
34 Ideal     I     4451.970 1910.97
35 Ideal     J     4918.186  952.98

In [91]:
# cut, color 기준으로 평균 가격을 avgPrice로 총 carat을 sunCarat이란 이름으로 집계
dia <- diamonds
avgPrice <- aggregate(price ~ color, dia, FUN=mean)
sumCarat <- aggregate(carat ~ color, dia, FUN=sum)

df <- data.frame(avgPrice, sumCarat$carat)
colnames(df) <- c('color','avgPrice','sumCarat')
df

  color avgPrice sumCarat
1 D     3169.954 4456.56
2 E     3076.752 6445.12
3 F     3724.886 7028.05
4 G     3999.136 8708.28
5 H     4486.669 7571.58
6 I     5091.875 5568.00
7 J     5323.818 3263.28

In [92]:
df[order(-df$avgPrice),] # 정렬출력

  color avgPrice sumCarat
7 J     5323.818 3263.28
6 I     5091.875 5568.00
5 H     4486.669 7571.58
4 G     3999.136 8708.28
3 F     3724.886 7028.05
1 D     3169.954 4456.56
2 E     3076.752 6445.12

In [93]:
diamonds %>% group_by(color) %>%
             summarise(avgPrice = mean(price),
                       sumCarat = sum(carat)) %>%
             arrange(desc(avgPrice))

  color avgPrice sumCarat
1 J     5323.818 3263.28
2 I     5091.875 5568.00
3 H     4486.669 7571.58
4 G     3999.136 8708.28
5 F     3724.886 7028.05
6 D     3169.954 4456.56
7 E     3076.752 6445.12

In [95]:
# color 기준으로 평균 가격을 avgPrice로 총 carat을 sumCarat이라는 이름으로
# 집계하고 평균가격으로 내림차순 정렬 총 carat은 오름차순으로 정렬 
df[order(-df$avgPrice, df$sumCarat), ]

diamonds %>% group_by(color) %>%
             summarise(avgPrice = mean(price),
                       sumCarat = sum(carat)) %>%
             arrange(desc(avgPrice), sumCarat)

  color avgPrice sumCarat
7 J     5323.818 3263.28
6 I     5091.875 5568.00
5 H     4486.669 7571.58
4 G     3999.136 8708.28
3 F     3724.886 7028.05
1 D     3169.954 4456.56
2 E     3076.752 6445.12

  color avgPrice sumCarat
1 J     5323.818 3263.28
2 I     5091.875 5568.00
3 H     4486.669 7571.58
4 G     3999.136 8708.28
5 F     3724.886 7028.05
6 D     3169.954 4456.56
7 E     3076.752 6445.12